html { 
	height: 100% 
	}
body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
	}
#location_app {
	height: 100%;
	width: 100%;
	}
#map-canvas { 
	height: 100%; 
	width: 100%; 
	}
#target {
	width: 345px;
	}
#map_container {
	float:left;
	height:100%;
	width:80%;
	}
#fav_container {
	float:left;
	width:200px;
	}
.fav_box {
	border:2px solid black;
	background-color: #e0e0e0;
	padding:4px;
	margin:2px;
	margin-bottom:10px
	-moz-border-radius: 15px;
	border-radius: 15px;	
	}
#fav_debug {
	display: block;
	}
#fav_title {
	width:100%; 
	border-bottom: 1px solid #222222;	
	}
#fav_list {
	margin: 0;
	padding: 0;
	list-style: none;
	}
#fav_list li {
	padding: 8px 10px 12px 0;
	position: relative;
	font-size: 14px;
	border-bottom: 1px solid #cccccc;
	}
#fav_list li:last-child {
	border-bottom: none;
	}
#fav_list li .nickname {
	font-size: 24px;
	}
#fav_list li .nickname:hover {
	cursor: pointer;
	text-decoration: underline;
	}
#fav_list li .favaddress:hover {
	cursor: pointer;
	text-decoration: underline;
	}
.fav_edits {
	margin-top:6px;
}
.mybutton {
	border: 1px solid black;
	background-color: #f9f9f9;
	padding: 2px;
	margin: 2px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
.mybutton:hover {
	background-color: #ADC8F7;
	cursor: pointer;
	}